
/* .pagination .page-links ul{
	display:flex;
	border:1px hidden black;
	padding:10px;
	margin-top:30px;
	gap:50px;
	width:90vw;
	height:5vh;
	list-style-type:none;
	justify-content:center;
}
.pagination a{
	text-decoration:none;
	color:black;
}
.pagination a:hover{
	color:white;
	padding:3px; 
	cursor:pointer;
}
.about img{
	margin-top:20px;
}
.about h1{
	text-align:center;
}
.about h2{
	text-align:center;
}
.about h4{
	text-align:center;
	margin-top:5px;
}
.about p{
	margin:10px;
}
footer{
	display:flex;
	justify-content:space-evenly;
	gap:10px;
	margin-top:20px;
}
.end1 a{
	color:black;
}
.end2 p{
	display:inline;
}
.end3 a{
	color:white;
	text-decoration:none;
	background-color:grey;
	width:70px; 
	height:30px; 
	border:1px hidden black;
	padding:0px;
	display:inline-block;
	margin-top:20px;
	text-align:center;
}
footer h1{
	text-align:center;
}
 */
